* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  /* background-image: url("bg.jpg");
  background-size: cover; */
  font-family: serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#bg {
  position: absolute;
  z-index: -1;
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
  top: 0;
}

#bg img {
  width: 100%;
  height: 100%;
}

header {
  color: #ffffff;
  font-weight: 600;
}

.nav-banner {
  background-image: url("banner.jpg");
  width: 100%;
  height: 50px;
  opacity: 0.67;

  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;

  font-size: 10px;
  font-weight: 100;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
  opacity: 0.6;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 13px;
  color: #000000;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 20px;
  color: #000000;
  justify-content: center;
  margin: 5px 60px;
}
.nav-bar > a {
  text-decoration: none;
  color: #000000;
  font-weight: 100;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 60px auto;
  width: 50%;
  text-align: center;
  padding: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-top: 10px;
}

.top-left img {
  width: 250px;
  padding-right: 30px;
  padding-left: 3px;
}

.top-right > h1 {
  font-size: 17px;
}

.paragraph {
  font-size: 11px;
  vertical-align: middle;
}

.a-content {
  text-decoration: none;
  color: #000000;
  font-size: 11px;
}

.bottom {
  display: flex;
  flex-direction: row;
}

.bottom-left {
  padding-right: 30px;
  padding-left: 10px;
}

.bottom-left > h1 {
  font-size: 17px;
}

.bottom-left > p {
  font-size: 12px;
}

.bottom-right img {
  width: 280px;
  height: 150px;
  padding-right: 5px;
  padding-left: 0px;
}
